@font-face {
    font-family: 'hub';
    src: url(Tiger\ Chest.otf);
}
body{
    margin: 0;
    background: linear-gradient(180deg, #dca, #dac);
    color: white;
    font-family: 'hub';
    user-select: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
    padding: 2vw;
}
/*Buttons*/
.small{
    position: absolute;
    top: 1vh;
    width: 4vh;
    height: 4vh;
    font-size: 5vh;
    border: 10px white solid;
    border-radius: 2vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
    background-color: transparent;
}
.small:hover{
    background-color: white;
    color: #dac;
}
.back{
    left: 1vh;
}
.info{
    right: 1vh;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 2vw;
}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 2vw;
}

.button{
    font-size: 10vh;
    padding-inline: 3vh;
    padding-block: 1vh;
    border: 10px white solid;
    border-radius: 5vh;
    width: fit-content;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background-color: white;
    color: #dac;
}
/*Hidden*/
.block{
    display: none;
    font-size: 10vh;
    padding-inline: 3vh;
    padding-block: 1vh;
    border: 10px white solid;
    border-radius: 5vh;
    width: fit-content;
    text-align: center;
}
.info:hover~.hide{
    display: none;
}
.info:hover~.block{
    display: block;
}
/*Flags*/
.flags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 2vw;
}
.flag{
    width: 35vw;
    height: auto;
    background-color: white;
    border: 10px white solid;
    border-radius: 5vw;
}
/*Cards*/
.card{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    border: white solid 10px;
    border-radius: 5vw;
    overflow: hidden;
    background-color: white;
}
span{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    color: #dac;
    width: 100%;
    background-color: white;
    padding-block: 10px;
    font-size: 4vh;
}
.img{
    width: 35vw;
    height: auto;
    background-color: white;
}
.rating{
    background-color: transparent;
    height: 1.5vh;
    width: 4.5vh;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#r0{
    background-image: url(./ratings/r0.png);
}
#r1{
    background-image: url(./ratings/r1.png);
}
#r2{
    background-image: url(./ratings/r2.png);
}
#r3{
    background-image: url(./ratings/r3.png);
}